commands:

  ssp_store_00_type:
    command: sed -i "s/^.*store.type.*$/    'store.type' => 'sql',/" /opt/simplesamlphp-1.12.0/config/config.php

  ssp_store_01_dsn:
    command: sed -i "s/^.*store.type.*$/    'store.type' => 'sql',/" /opt/simplesamlphp-1.12.0/config/config.php

  ssp_store_02_user:
    command: sed -i "s/^.*store.type.*$/    'store.type' => 'sql',/" /opt/simplesamlphp-1.12.0/config/config.php

  ssp_store_03_pass:
    command: sed -i "s/^.*store.type.*$/    'store.type' => 'sql',/" /opt/simplesamlphp-1.12.0/config/config.php

  ssp_store_04_prefix:
    command: sed -i "s/^.*store.type.*$/    'store.type' => 'sql',/" /opt/simplesamlphp-1.12.0/config/config.php


    
