files:
  "/opt/simplesamlphp/config/config.php":
    mode: "000644"
    owner: root
    group: root
    source: http://metadata.itlab.stanford.edu/simplesamlphp/config/config.php

  "/opt/simplesamlphp/config/authsources.php":
    mode: "000644"
    owner: root
    group: root
    source: http://metadata.itlab.stanford.edu/simplesamlphp/config/authsources.php

  "/opt/simplesamlphp/metadata/saml20-idp-remote.php":
    mode: "000644"
    owner: root
    group: root
    source: http://metadata.itlab.stanford.edu/simplesamlphp/metadata/saml20-idp-remote.php

  "/opt/simplesamlphp/cert/idp-itlab.crt":
    mode: "000644"
    owner: root
    group: root
    source: http://metadata.itlab.stanford.edu/simplesamlphp/cert/idp-itlab.crt

  "/opt/simplesamlphp/cert/idp.crt":
    mode: "000644"
    owner: root
    group: root
    source: http://metadata.itlab.stanford.edu/simplesamlphp/cert/idp.crt

  "/etc/httpd/conf.d/simplesaml.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      Alias /simplesaml /opt/simplesamlphp/www
      <Directory "/opt/simplesamlphp/www">
          Options FollowSymLinks
          AllowOverride All
          Require all granted
      </Directory>

  "/tmp/fix-ssp-config.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/sh
      . /opt/elasticbeanstalk/support/envvars
      SSP=/opt/simplesamlphp
      ADMINPASSWD=`tr -c -d '0123456789abcdefghijklmnopqrstuvwxyz' </dev/urandom | dd bs=32 count=1 2>/dev/null`
      SECRETSALT=`tr -c -d '0123456789abcdefghijklmnopqrstuvwxyz' </dev/urandom | dd bs=32 count=1 2>/dev/null`
      sed -i -e "s/%%ADMINPASSWD%%/${ADMINPASSWD}/" -e "s/%%SECRETSALT%%/${SECRETSALT}/" ${SSP}/config/config.php
      sed -i -e "s/%%ENTITYID%%/${ENTITYID}/" ${SSP}/config/authsources.php
      exit 0

  "/tmp/drush-setup-ssp.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/sh
      exec >/tmp/drush.out
      exec 2>/tmp/drush.err
      TERM=dumb; export TERM
      . /opt/elasticbeanstalk/support/envvars
      export PATH
      DRUSH="/opt/drush/drush -r /var/app/current"
      echo CURRENT_MODULES
      ls -l /var/app/current/sites/all/modules
      echo ONDECK_MODULES
      ls -l /var/app/ondeck
      ls -l /var/app/ondeck/sites/all/modules
      ${DRUSH} pm-enable --yes simplesamlphp_auth
      ${DRUSH} vset --yes simplesamlphp_auth_installdir /opt/simplesamlphp
      ${DRUSH} vset --yes simplesamlphp_auth_registerusers 1
      ${DRUSH} vset --yes simplesamlphp_auth_authsource default-sp
      ${DRUSH} vset --yes simplesamlphp_auth_mailattr mail
      ${DRUSH} vset --yes simplesamlphp_auth_user_name displayName
      ${DRUSH} vset --yes simplesamlphp_auth_unique_id eduPersonPrincipalName
      ${DRUSH} vset --yes simplesamlphp_auth_roleevaleverytime 0
      ${DRUSH} vset --yes simplesamlphp_auth_rolepopulation "3:groups,=,sites_admin"
      ${DRUSH} vset --yes simplesamlphp_auth_activate 1
      echo MODULES
      ls -l /var/app/current/sites/all/modules
      exit 0

