commands:

  ssp_store_00_type:
    command: sed -i "s/^.*store.type.*$/    'store.type' => 'sql',/" /opt/simplesamlphp-1.12.0/simplesamlphp-1.12.0/config/config.php
  ssp_store_01_dsn:
    command: sed -i "s/^.*store.sql.dsn.*$/    'store.sql.dsn' => 'mysql:host=' . $_SERVER['RDS_HOSTNAME'] . ';dbname=' . $_SERVER['RDS_DB_NAME'],/" /opt/simplesamlphp-1.12.0/simplesamlphp-1.12.0/config/config.php

  ssp_store_02_user:
    command: sed -i "s/^.*store.sql.username.*$/    'store.sql.username' => $_SERVER['RDS_USERNAME'],/" /opt/simplesamlphp-1.12.0/simplesamlphp-1.12.0/config/config.php

  ssp_store_03_pass:
    command: sed -i "s/^.*store.sql.password.*$/    'store.sql.password' => $_SERVER['RDS_PASSWORD'],/" /opt/simplesamlphp-1.12.0/simplesamlphp-1.12.0/config/config.php

  ssp_store_04_prefix:
    command: sed -i "s/^.*store.sql.prefix.*$/    'store.sql.prefix' => 'simplesamlphp_',/" /opt/simplesamlphp-1.12.0/simplesamlphp-1.12.0/config/config.php

