files:
  "/etc/httpd/conf.d/simplesaml.conf":
    mode: "000644"
    owner: "root"
    group: "root"
    content: |
      Alias /simplesaml /opt/simplesamlphp/www
      <Directory "/opt/simplesamlphp/www">
          Options FollowSymLinks
          AllowOverride All
          Require all granted
      </Directory>
